<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="#" [routerLink]="['']" routerLinkActive="selected-link"
         [routerLinkActiveOptions]="{exact:
true}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['servers']" routerLinkActive="selected-link"
      >Servers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" [routerLink]="['users']" routerLinkActive="selected-link">Users</a>
    </li>
  </ul>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>

</div>
